body{
  background: url(http://domain.com/path/a.png);
  background: url(http://domain.com/path/img/a.png);
  background: url('http://domain.com/path/img/a.png');
  /* background: url('http://domain.com/path/img/b.png'); */
  background: url("http://domain.com/b.png");
}